@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/poppins-v20-latin-100.woff2') format('woff2'); 
}

  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v20-latin-200.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-italic.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); 
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); 
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); 
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900italic.woff2') format('woff2'); 
  }

  @font-face {
    font-family: 'Hoghfish DEMO';
    src: url("../fonts/Hogfish\ DEMO.otf");
   
    }


  :root {
    --dark-color: #000;
    --light-color: #fff;
    --pink-color:#ffd9d9;
    --lightblue-color: #008ebb;
  }


  body {
   color: var(--light-color);
   font-family: Poppins, normal; 
   font-size: 16px;
   font-weight: 500;
   line-height: 1.4;
   background-image: url(../img/sfondo.svg);
 
  }


  .main-header {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }


 
  .container-flex {
    width: 100%;
    justify-content: space-between;
    display: flex;
    transition: 500ms;
  
  }

  .logo {
    width: 40px;
    height: 40px;
    padding-top: 2rem;
    padding-right: 2rem;
  }


  .nav-item {
    color:var(--lightblue-color);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: inline-block; 
    justify-content: end;
    text-decoration: none;
  }


  .form-contact {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }
  
  .form-contact h2 {
    font-size: 40px;
    color: var(--lightblue-color);
    text-align: center;
    margin-top: 10px;
    font-family: Poppins;
       
  }
  
  .form-contact form{
    width: 600px;
    text-align: center;
    font-family: Poppins;

  }
  
  form .imput-box {
    display: flex;
    justify-content: space-between;
    font-family: Poppins;

  }

  .field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid var(--lightblue-color);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--lightblue-color);
    margin: 12px 0;
    font-family: Poppins;
    gap: 20px;

  }

  .field .item ::placeholder {
    color: var(--dark-color);

  }

  .field .error-txt {
    font-size: 14.5px;
    color: var(--pink-color);
    text-align: left;
    margin: -5px 0 10px;
    display: none;

  }

  .inbut-box .input-field {
    width: 48.5%;

  }

  form .textarea-field .item {
    resize: none;

  }

  form .textarea-field .error-txt {
    margin-top: -10px;

  }

  form button {
  border-color: #008ebb;
  padding: 20px 40px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: #008ebb;
  border-radius: 40px;
  border: 2px solid #008ebb;
  display: block;
  text-decoration: none;
  background: transparent;
  
  }

  form button:hover {
    color: var(--light-color);
    background: var(--lightblue-color);

  }


  .footer {
    margin-top: 100px;
    min-height: 40vh;
    display: flex;
    align-items: center;
    background-color: var(--pink-color);
  }

  .footer-contacts {
    margin-left: 50px;

  } 

  .title-xm {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--lightblue-color);
    font-family: Hoghfish DEMO; 
  }

  .subtitle-xm {
    color: var(--lightblue-color);
    font-weight: 600;

  }

  .text-m {
    margin-right: 150px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    font-family: Poppins; 
  }

  .text-xs {
    color: var(--lightblue-color);
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
  }

  .footer-social {
    display: flex;

  }
