@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/poppins-v20-latin-100.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/poppins-v20-latin-200.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/poppins-v20-latin-300.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v20-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/poppins-v20-latin-italic.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v20-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/poppins-v20-latin-600.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/poppins-v20-latin-700.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/poppins-v20-latin-800.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/poppins-v20-latin-900.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/poppins-v20-latin-900italic.woff2') format('woff2'); 
}

@font-face {
  font-family: 'Hoghfish DEMO';
  src: url('./fonts/Hogfish-DEMO.woff');
 
  }


$color1: #000000;
$color2: #ffffff;
$color3: #ffd9d9;
$color4: #008ebb;
$color5: #828282;
$color6: #ff0000;
$color7: #c9cdcc;
$color8: rgba(130, 130 ,130, 0.5);


  body {
   color: $color1;
   font-family: Poppins, normal;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.4;
   background-image: url(./img/sfondo.svg);
   overflow-x: hidden;

}

  .navbar {
    background-color: $color8;
    width: 100%;
    backdrop-filter: blur(50px);

  }

  .navbar-toggler {
    border: none !important; 

  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  
 

  .d-inline-block {
    width: 80px;
    height: 40px;
    padding-left: 35px;
  }

  .nav-item {
    font-size: 1.15rem;
    color: $color2;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
  
  }

  .nav-link {
    color: $color2 !important;
  }



 .title-xl {
   font-size: 80px;
   font-weight: 500;
   line-height: 1.4;
   color: $color4;
   font-family: Hoghfish DEMO; 
   padding-top: 250px;
  
 }

 .sub-title-l {
   font-size: 20px;
   font-weight: 500;
   line-height: 1.4;
   color: $color4;
   font-family: Poppins;
   margin-bottom: 100px;
   
   
 }

 .hero-cta {
   margin-bottom: 80px;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.4;
   color: $color4;
   font-family: Poppins; 
 }


 .b-aboutme:hover{
   background-color: $color4 !important;
   color: $color2 !important;

 }

 
 .btn-outline-primary {
  color: $color4 !important;
  font-family: Poppins !important;
  font-weight: 600 !important;
  font-size: 17px !important;
  text-align: center;
  color: $color4;
  border: 2px solid $color4 !important;
  text-decoration: none;
  width: 50px !important;
  height: 60px !important; 
  margin-bottom: 100px;
  padding-top: 15px !important;


}

@media  (max-width: 760px) {

  .btn-outline-primary { 
    margin-bottom: 30px;
}
  .b-hero{
    margin-bottom: 50px;
  }
  .title-xl {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
    color: $color4;
    font-family: Hoghfish DEMO; 
    padding-top: 100px;
    padding-bottom: 30px ;
   
  }
}


 .b-contacts:hover{
   background-color: $color4 !important;
   color: $color2 !important;

 }

 .section-aboutme {
   width: 100%;
   background-color: $color3;
   text-align: center;


 }

 .i-aboutme{
   width: 50%;
   height: 50%;
   margin: 100px;
   text-align: center;
   
 
 }

 .title-xm {
   font-size: 30px;
   font-weight: 500;
   line-height: 1.4;
   color: $color4;
   font-family: Hoghfish DEMO; 
   text-align: center;
 }

 .text-m {
   padding-right: 150px;
   padding-left: 150px;
   font-size: 15px;
   font-weight: 400;
   line-height: 1.4;
   color: $color1;
   font-family: Poppins;
   text-align: center;
 
 }


 @media  (max-width: 1140px) {

  .text-m {
    padding-right: 50px;
    padding-left: 50px;
}

}

@media  (max-width: 760px) {

  .text-m {
    margin-bottom: 100px;
}

}

@media  (max-width: 576px) {

  .i-aboutme {
    width: 70%;
    height: 70%;
    margin: 50px;
}

  .text-m {
    margin-bottom: 50px;
    font-family: Poppins;
}

}

 
 .section-gallery {
   padding-top: 4rem;  
   align-items: center;
   text-align: center;
 }

 .section-gallery-2 {
  padding-top: 4rem;
  padding-bottom: 4rem;  
  align-items: center;
  text-align: center;
}

 .title-gallery {
   margin-bottom: 20px;
   font-size: 35px;
   font-weight: 500;
   line-height: 1.4;
   color: $color4;
   font-family: Hoghfish DEMO;
   justify-content: center;
 }

 .swiper {
   width: 100%;
   padding-top: 60px;
   padding-bottom: 60px;
 }

 .swiper-wrapper {
  width: 100%;
 }

 .swiper-slide {
   background-position: center;
   background-size: cover;
   width: 500px;
   height: 350px;
 }

 .title-swiper {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: $color4 !important;
    font-family: Poppins;
    text-align: center;


 }

 .text-swiper {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  color: $color4 !important;
  font-family: Poppins;
  text-align: center;


}

 @media  (max-width: 576px) {
  
  .swiper-slide {
    width: 300px;
    height: 230px;
  }
  }

 .swiper-slide img {
   display: block;
   width: 100%;
   border-radius: 1rem;
 }

 .cta-project:hover{
   background-color: $color4;
   color: $color2;
 }





.section-contact {
  background-color: $color4;
  width: 100%;
  
}

.contatti {
  padding-top: 50px;
  text-align: center;
  color: $color3;
  font-size: 25px;
  font-weight: 500;

}

.txt-contact {
  padding-top: 20px;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: $color3;
  font-family: Poppins;

  
}



@media  (max-width: 1140px) {

  .txt-contact {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media  (max-width: 760px) {

  .txt-contact {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media  (max-width: 576px) {

  .txt-contact {
    padding-left: 30px;
    padding-right: 30px;

  }
}

.contenitore { 
  display: flex;
  gap: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%
  
 }

 @media  (max-width: 576px) {

  .contenitore {
    gap: 0px;
    
   }
}

.form {
  width: 50%;
  
}

.info {
  width: 35%;
}

@media  (max-width: 576px) {

  .info {
    display: none;
    
   }
}

.contact {
  padding: 50px;
  background: transparent; 
}

@media  (max-width: 576px) {

  .contact {
    margin-left: 15px;
    
   }
}


.contact h3 {
  color: $color3;
  font-weight: 500;
  font-size: 1.4em;
 
}

.input-box {
  width: 100%;

}

.input-box .row50 {
  display: flex;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;

}

.input-box .row100 .input-field {
  width: 100%;
}

.input-field span {
  color: $color3;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;

}

.input-field input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 2px solid $color3;
  resize: none;
  background: transparent;
  border-radius: 5px;
  


}

.input-field textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 2px solid $color3;
  resize: none;
  min-height: 100px;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 5px;


}

.input-field input[type=submit] {
  background: transparent;
  color: $color3;
  border: 2px solid $color3;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;

}

.input-field input[type=submit] :hover {
  background: $color3;
  color: $color4;


}

.input-field ::placeholder {
  color: $color7;
  font-family: Poppins;
  font-size: 15px;

}


.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}


.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: $color4;
  background: $color3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;

}

.info .infoBox div p {
  color: $color3;
  font-size: 0.9em;
  font-weight: 400;
  
}

.info .infoBox div a {
  color: $color3;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 400;

}

.social {
  margin-top: 40px;
  display: flex;
  margin-left: -30px;

}

.social li {
  list-style: none;
  margin-right: 15px;
  
}

.social li a {
  color: $color3;
  font-size: 1.5em;
 
}









 .footer {
   display: flex;
   align-items: center;
   background-color: $color3;
   width: 103%;
 
   
 }

 .footer-contacts {
   margin-left: 50px;
   padding-top: 40px;
 

 } 


 .title-xms {
   font-size: 30px;
   font-weight: 500;
   line-height: 1.4;
   color: $color4;
   font-family: Hoghfish DEMO; 
   text-align: left;
   padding-top: 50px;
   padding-left: 50px;
   background-color: $color3;
  
 }

 .footer-contacts .footerBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}


 .footer-contacts .footerBox div span {
   min-width: 40px;
   height: 40px;
   color: $color3;
   background: $color4;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
   font-family: Poppins;
   border-radius: 50%;
   margin-right: 15px;

 }

 .footer-contacts .footerBox div p {
   color: $color4;
   font-size: 0.9em;
   font-weight: 400;
   font-family: Poppins;
  
 } 

 .footer-contacts .footerBox div a {
   color: $color4;
   text-decoration: none;
   font-size: 0.9em;
   font-weight: 400;
   font-family: Poppins;

 }



 .footer-social {
   display: flex;
   margin-top: 20px;
   margin-left: -30px;

 }


 .footer-social li {
   list-style: none;
   margin-right: 15px;
  
 }

 .footer-social li a {
   color: $color4;
   font-size: 1.5em;
   font-family: Poppins;
 
 }

 .footer-pages {
   margin-left: 50px;
  

  }

  @media  (max-width: 576px) {

    .footer-pages {
      margin-left: 10px;
      padding-left: 10px;
      display: flex;
   
      
     }
  }

  .text-xs {
    text-decoration: none;
    margin: 30px;
    color: $color4;
    font-family: Poppins;
    font-size: 15px;

  }